<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1" >
    <listeners>
        <listener class-name="com.prettylittlething.customlisteners.CustomListeners"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Verify user can purchase an item on PLT website " >
        <classes>
            <class name="com.prettylittlething.testsuite.HomePageTest"/>
        </classes>
    </test>
</suite>